* {
    
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 20px;
}

.logo {
    width: 100px;
}


.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    font-size: 20px;
    list-style-type: none;
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}


.res-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    width: 290px;
    /* line-break: anywhere; */
    margin: 5px;
    background-color: rgb(254, 252, 252);
    box-sizing: border-box;   
    outline: none;
}
.title {
    font-size: 1.2rem;
}

.res-card:hover {
    transform: translate(-5px) scale(1.05);
    /* border: 1px solid black; */
    box-shadow: 0 4px 8px rgb(0,0,0,0.2);
    cursor: pointer;
}


.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
    height: 250px;
    object-fit:cover;
}

.filter {
    display: flex;
    /* justify-content: space-between; */
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.shimmer-card {
    margin: 5px;
    width: 290px;
    height: 400px;
    background-color: #f0f0f0;
}

.login-box {
    display: flex;
    align-items: center;

}
.login {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    font-size: 20px;
    border: 1px solid rgb(219, 104, 16);
    border-radius: 25px;
    text-decoration: none;
    outline: none;
}

.login:hover {
    background-color: rgb(219, 104, 16);
    color: #fff;
}

.search-btn {
    padding: 0 10px;
    margin-left: 10px;
    cursor: pointer;
}